
.textContent {
  max-width: 600px;
}

.textContent p {
  font-size: 1.6rem; /* Larger font size for paragraphs */
  line-height: 1.8; /* Better readability */
  margin-bottom: 20px; /* Adds spacing between paragraphs */
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  background-color: #0d1117;
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.textContent {
  max-width: 600px;
}

.learnMore {
  display: inline-block;
  background-color: transparent;
  color: #00b37e;
  border: 2px solid #00b37e;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learnMore:hover {
  background-color: #00b37e;
  color: #ffffff;
}

h2 {
  font-size: 48px;
  margin: 20px 0;
}

.highlight {
  color: #00b37e;
}

.joinMovement {
  display: inline-block;
  background-color: #00b37e;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.joinMovement:hover {
  background-color: #008c5a;
}

.note {
  font-size: 14px;
  color: #cccccc;
  margin-top: 10px;
}

.imageContent {
  flex-shrink: 0;
  max-width: 500px;
  margin-left: 20px;
}

.imageContent img {
  width: 100%;
  border-radius: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .imageContent {
    margin: 20px 0 0;
    max-width: 90%;
  }
}
